div{
    color:white;
    background-color: red;
    font-size: 50;
    text-align: center;
    font-weight: 700;
}
p{
    color:white;
    background-color: green;
}

button{
    color: black;
    background-color: rgb(235, 172, 12);
}